<mat-toolbar>
  <mat-form-field class="uri-input">
    <input type="url" matInput placeholder="Identifier" (change)="onChange($event)" [value]="id" spellcheck="false" autocomplete="false">
  </mat-form-field>
  <button mat-button (click)="openCamera()"><mat-icon>camera</mat-icon></button>
  <mat-button-toggle-group appearance="legacy" class="move-buttons" *ngIf="id">
    <mat-button-toggle (click)="moveTo(-1)">-</mat-button-toggle>
    <mat-button-toggle (click)="moveTo(1)">+</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    {{ (viewer)?.label }}
  </button>
  <span class="right-spacer"></span>
  <mat-menu #menu="matMenu">
    <button *ngFor="let view of views"
      mat-menu-item (click)="viewerChange.emit(view)">{{ view.label }}</button>
  </mat-menu>
</mat-toolbar>
