<div mat-dialog-content>
  <zxing-scanner
    #scanner
    [formats]="formats"
    [device]="camera"
    (camerasFound)="camerasFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
  ></zxing-scanner>
</div>
<div mat-dialog-actions class="dialog-actions">
  <h1 mat-dialog-title>Scan the QR code</h1>
  <span class="spacer"></span>
  <div class="camera-switch" *ngIf="multi">
    <button mat-mini-fab color="default" (click)="switchCamera()"><mat-icon>switch_camera</mat-icon></button>
  </div>
</div>
