<div [class.fullscreen]="!toolbarVisible" class="mat-typography">
  <app-viewer [id]="id" [viewer]="viewer$ | async"></app-viewer>
  <app-footer [viewer]="viewer$ | async" (viewerChange)="setViewer($event)" [id]="id" (idChange)="setId($event)" *ngIf="toolbarVisible"></app-footer>
  <div class="toggle-toolbar">
    <button mat-mini-fab color="default" (click)="toggleToolbar()"><mat-icon>{{toolbarVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon></button>
  </div>
</div>
