@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body {
  height: 100%;
  position: relative;
  overflow: hidden !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 45px !important;
}
.small-video {
  max-height: 70vh;
  width: 100vw;
  object-fit: contain;
}
.viewer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100% - 45px);
  bottom: 0;
  border: 0;
}

.uri-input {
  margin-bottom: -10px;
  line-height: 12px;
  font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.right-spacer {
  width: 50px;
}

.toggle-toolbar {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.dialog-actions {
  position: relative;
}
.camera-switch {
  position: absolute;
  right: -13px;
  bottom: 26px;
}
.fullscreen {
  overflow: hidden;

  .viewer {
    height: 100%;
  }
}

@media screen and (max-width: 470px) {
  .move-buttons {
    display: none !important;
  }
  .uri-input {
    max-width: 30%;
  }
}
